<form name="characterSheetForm" class="container-fluid">

  <div class="row pb-1">
    <fulcrum-input id="characterName" labelName="Name" class="col" [newLineLabelName]="true"
                   [inputModel]="character.name" (outGoingModel)="character.name=$event"></fulcrum-input>

    <div class="col">
      <fulcrum-dropdown id="characterRace" labelName="Race" class="col" [newLineLabelName]="true" [values]="races"
                        (valueChange)="startReloadWithRace($event.value)"></fulcrum-dropdown>

      <fulcrum-dropdown *ngIf="character.raceType === RaceType.Primental" id="characterSubRace" labelName="Sub-Race"
                        [values]="subraces" (valueChange)="updateSubRace($event.value)" class="col"></fulcrum-dropdown>
    </div>

    <fulcrum-dropdown id="characterLevel" labelName="Level" class="col" [newLineLabelName]="true"
                      [values]="levels" (valueChange)="startReloadWithLevel($event.value)"></fulcrum-dropdown>
  </div>

  <!--Start of 2nd row-->
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col-7">
          <div class="card border-0">
            <label class="font-weight-bold card-title">Theme Points</label>
            <div class="card-body pt-2">
              <fulcrum-character-theme-points id="themePoints"
                                              (emitter)="updateThemePoints($event)">
              </fulcrum-character-theme-points>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <label class="font-weight-bold card-title">Sub Themes</label>
            <div class="card-body pt-2">
              <div class="row">
                <div class="col">
                  <button id="subthemesBtn" class="mt-3 btn btn-sm btn-outline-primary subthemesBtn"
                          [disabled]="character.themePoints.getOtherThemePoints('general') <= 0"
                          (click)="launchSubthemesModal()">+Add Subtheme
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col border-0">
          <label class="card-title font-weight-bold p-0">Hit Points:</label>
          <div class="card-body p-0">
            {{getHitPointsValue()}}
          </div>
        </div>
        <div class="card col border-0">
          <label class="card-title font-weight-bold p-0">Bloodied Value:</label>
          <div class="card-body p-0">
            {{getBloodiedValue()}}
          </div>
        </div>
        <div class="card col border-0">
          <label class="card-title font-weight-bold p-0">Recovery (I/O):</label>
          <div class="card-body p-0">
            {{getRecoveryValue()}} / {{getOutofCombatRecoveryValue()}}
          </div>
        </div>
        <div class="card col border-0">
          <label class="card-title font-weight-bold p-0">Crit Reduction:</label>
          <div class="card-body p-0">
            {{getCriticalReductionValue()}}
          </div>
        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card border-0 border-dark pb-0">
        <div class="card-body pt-0 pb-0">
          <div class="row">
            <div class="col p-0">
              <label class="font-weight-bold">Initiative</label><br>

              <label class="font-weight-normal">{{character.getInitiative()}}</label>
            </div>
            <div class="col p-0">
              <label class="font-weight-bold">Movement</label><br>

              <label class="font-weight-normal">{{character.getSpeed()}}</label>
            </div>
            <div class="col p-0">
              <label class="font-weight-bold">Vision</label><br>

              <label class="font-weight-normal">{{character.vision}}</label>
            </div>
          </div>

        </div>
      </div>
      <!-- End of Init/Move/Vision -->
      <!--  Start of defenses  -->
      <div class="col">
        <div class="card border-0">
          <label class="font-weight-bold card-title">
            Defenses
          </label>
          <div class="body">
            <div class="row">
              <div class="col border border-dark">
                <label id="activeDefense" class="font-weight-bold">Active: {{getActiveDefenseValue()}}</label>
                <div class="d-flex row">
                  <label *ngFor="let defense of character.physicalDefense.activeDefenses"
                         class="activeList col">{{defense}}</label>
                </div>
              </div>

              <div class="col border border-left-0 border-dark">
                <label class="font-weight-bold" id="passiveDefense">Passive: {{getPassiveDefenseValue()}}</label>
                <div class="d-flex row">
                  <label *ngFor="let defense of character.physicalDefense.passiveDefenses; let index = index"
                         class="passiveList col p-0 mr-1">{{defense}}
                    <span *ngIf="index > character.physicalDefense.passiveDefenses.length">, </span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col border border-top-0 border-dark">
                <div class="d-flex justify-content-center row">
                  <label id="fortitude"
                         class="col font-weight-bold">Fortitude: {{getMagicDefensiveValue(MagicDefenseType.Fortitude)}}</label>
                  <label id="reflex"
                         class="col font-weight-bold">Reflex: {{getMagicDefensiveValue(MagicDefenseType.Reflex)}}</label>
                  <label id="will"
                         class="col font-weight-bold">Will: {{getMagicDefensiveValue(MagicDefenseType.Will)}}</label>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!--End of the second row-->


  <div class="col-3 float-right border-spacing magicResistancesBorder">
    <label class="font-weight-bold">Magic Resistance (Prim/Sec):</label><br>
    {{getPrimaryMagicResistanceValue()}}/{{getSecondaryMagicRestanceValue()}}
    More stuff here
  </div>
  <div class="col">

  </div>
  <div class="col">
    <div class="row d-flex">
      <div class="col">
        <label class="font-weight-bold">Power Points:</label>
        {{getPowerPoints()}}
      </div>
      <div class="col">
        <label class="font-weight-bold">Adrenaline Points:</label>
        {{getAdrenalinePoints()}}
      </div>
      <div class="col">
        <label class="font-weight-bold">Recovery Points:</label>
        {{getRecoveries()}}
      </div>
      <div class="col">
        <label class="font-weight-bold">Auras:</label>
        {{getAuras()}}
      </div>

    </div>

  </div>

  <div class="col-auto">
    <div class="row">
      <div class="col-12">
        Brawn: {{character.attributes.Brawn.strength}}
        Vitality: {{character.attributes.Vitality.strength}}
        Quickness: {{character.attributes.Quickness.strength}}
        Agility: {{character.attributes.Agility.strength}}
        Reasoning: {{character.attributes.Reasoning.strength}}
        Presence: {{character.attributes.Presence.strength}}
        Self Discipline: {{character.attributes.SelfDiscipline.strength}}
        Intuition: {{character.attributes.Intuition.strength}}
      </div>
    </div>
  </div>
</form>
