<div class="row">
  <div *ngFor="let attribute of attributes | slice:0:4" class="col-md-6 col-sm-12">
    <fulcrum-dropdown [labelName]="attribute"
                  [newLineLabelName]="true"
                  [values]="attributeStrength"
                  [fixedWidth]="175">
    </fulcrum-dropdown>
  </div>
</div>
<div class="row">
  <div *ngFor="let attribute of attributes | slice:4:8" class="col-md-6 col-sm-12">
    <fulcrum-dropdown [labelName]="attribute"
                  [newLineLabelName]="true"
                  [values]="attributeStrength"
                  [fixedWidth]="175">
    </fulcrum-dropdown>
  </div>
</div>


